<!DOCTYPE html>
<html>
<body>

<h1>Kilimo Data</h1>
<p>Welcome to Kilimo Data</p>

<h1>Search</h1>

<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
  <input type="submit" name="submit" value="Search" >
</form>

<h1>Themes</h1>
<a href="addtheme/">Add New Theme</a>
<table border="1">
{% for theme in themes %}
<tr>
<td>{{ theme.themename }}</td>
<td>{{ theme.description }}</td>
<td><a href="deletetheme/{{ theme.themename }}">delete</a> &nbsp; &nbsp; &nbsp;

  <a href="update/{{ theme.themename }}">update</a></td>
</tr>
{% endfor %}
</table>



<a href="export/csv/">Export to CSV</a>

</body>
</html>